
* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: DINPro;
  src: url("./DINPro-Medium.TTF");
}

.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.el-col{
  display: flex;
  align-items: center;
  justify-content: center;
}
.el-table {
  .el-table__header {
    thead {
      tr {
        th {
          color: $title-color;
        }
      }
    }
  }
}
